# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Stuff for mac
/src/.DS_Store/
/src/__pycache__/

# Environments
.env
.venv
env/
venv/

ENV/
env.bak/
venv.bak/
src/upload.py-oauth2.json
src/client_secrets.json
src/my_secrets.py


cloud_functions/tiktokapikey.json
cloud_functions/tmp