# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Stuff for mac
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
src/client_secrets.json
src/my_secrets.py
src/upload.py-oauth2.json