<!DOCTYPE html>
<HTML lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>Sustainable controller</title>
    </head>
    <body>
        <div>
            <center> <h1>Sustainable controller</h1> 
            
            <form action="/" method ="POST">
                <input type="text" name="light" id="light">
                <input type="submit" value="Add a new element to control :) "> 
            </form>
                {% if lights|length < 1 %}
                <h4 style="text-align: center">There are no lights. Add one!</h4>
                {% else %}
                <table>
                    <tr>
                        <th>Location</th>
                        <th>On/Off</th>
                        <th>Remove</th>
                    </tr>
                    {% for light in lights %}
                        <tr>
                            <td>{{ light.location }}</td>
                            <td>{{ light.on_or_off }} </td>
                            <td> 
                                <a href="/switch/{{light.id}}">Switch</a>
                            </td>
                            <td>
                                <a href="/delete/{{light.id}}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </center>
        </div>

    </body>
</HTML>